*{
  margin: 0;
  padding: 0;
}
.header{
  background-image: url(../images/background.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding-left: 2%;
  padding-right: 2%; 

}
.navbar{
  display: flex;
  width: 100%;
  height: 15vh;
  align-items: center;

}
.header .navbar .cart{
  width: 50px;
  cursor: pointer;
}
.header .navbar .logo{
  width: 160px;
  cursor: pointer;
}
nav{
  padding-left: 80px;
  flex: 1;
}

nav ul li a{ 
text-decoration: none;
color: #333;
font-size: 25px;
}

nav ul li { 
list-style: none;
display: inline-block;
margin: 0px 20px;
  }

  .content{
    margin-top: 10%;
    margin-left: 14%;
  }
  .content h1{
   font-size: 60px;
   font-weight: 100;
   margin-top: 24px;
   margin-bottom: 15px;
   color: #232d60;
  }
  .content p{
    font-size: 27px;
    font-weight: lighter;
    color: #6a7199;
    font-family: 'poppin';
   }
   .content .btn{
     display: inline-block;
     background: linear-gradient(45deg, #87adfe, #ff77cd);
     border-radius: 6px;
     padding: 10px 20px;
     box-sizing: border-box;
     text-decoration: none;
     color: #fff;
     box-shadow: 5px 7px 18px rgba(94,28,68,0.75);

   }
   .content .arrow-icons{
    margin-top: 24px;
    margin-bottom: 15px;
  


   }

   .content .arrow-icons img{
    width: 40px;
    padding: 20px 10px;
    

   }
  
    .feature-img  {
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;

   }
  .social-link{
  
   transform:rotate(-90deg);
   position: absolute;
   left: -130px;
   bottom: 200px;
   background-color: #fff;
   padding: 9px 12px;
  }
  .social-link a{
    text-decoration: none;
    padding: 2px;
    font-weight: bold;
   
   }
   .social-link a:hover{
    background-color: #232d60;
    color: #fff;
   
   }
  
   